<div class="container center">
  
  <div *ngIf="recipe" class="column recipe">
    <h2>
      {{recipe.name}}
    </h2>
    <div class="row">
      <div class="column">
      	<img src="{{recipe.image}}" alt="{{recipe.name}}">
      	<ul><li *ngFor="let ingredient of recipe.ingredients">{{ingredient.quantity}}x {{ingredient.ingredientId.name}}</li></ul>
      </div>
      <p>
        {{recipe.description}}
      </p>
     
    </div>
    <button [routerLink]="['']">Home</button>
  </div>
</div>
<div class="ingredients container center">
  <div class="container wrap">
      <div class="ingredient container between" *ngFor="let ingredient of ingredientsArray">
      <label class="column center" for="{{ingredient.name}}">
        {{ingredient.name}}
      </label>
      <input type="number" #qty min="0" value="0">
      <button (click)="addIngredient(recipe._id, ingredient._id, qty.value )">Set</button>
      </div>
  </div>
</div>